.website-logo-image{
	width: 190px;
	height: 50px;
}

#loginCmsForm span.error {
	color: #ff0000 !important;
	margin-top: -15px;
	display: block !important;
}

.capchaImage img{
	width: 345px;
	height: 40px;
}

.capchaText{
	margin-top: 20px;
}

.uploadImageClass{
	border: 1px solid #a1a1a1;
	background: #dddddd;
	width: 165px;
	height: 165px;
	border-radius: 50%;
	cursor: pointer;
}

.uploadImageProgramClass , .uploadImageProgramClassHome{
	border: 1px solid #a1a1a1;
	background: #dddddd;
	cursor: pointer;
}

.show-custom-error-tag span.error {
	color: #ff0000 !important;
}

.successMessage{
	color: green;
	font-size: 16px;
}

.global-list-icon{
	cursor : pointer;
}

.global-list-status-icon{
	cursor : pointer;
}

.custom-control-label{
	text-align : left !important;
}

.add_more_icon , .remove_more_icon , .remove_section , .add_section{
	font-size: 30px;
	margin-top: 5px;
	cursor: pointer;
}

.delete_section{
	font-size: 30px;
	margin-top: 5px;
	cursor: pointer;
	margin-left: 15px;
}

.add_more_wrapper {
	margin-top: 15px;
}

.border-box{
	border: 1px solid #ccc;
	padding-top: 10px;
}

.note-editor{
	margin-bottom: 5px;
}

.waitClass{
	width: 100%;
	height: 100%;
	border: 0px solid;
	position: absolute;
	top: 0%;
	left: 0%;
	padding: 2px;
	background-color: #503535;
	opacity: 0.6;
}

.waitClassImg{
	width: 100px;
	height: 100px;
	margin-left: 45%;
	margin-top: 25%;
}

.add_more_wrapper .form-group{
	margin-right : 0px;
	margin-left : 0px;
}

.span-form-control{
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}

.form-border-box-wrapper{
	border: 1px solid #a78f8f;
	padding: 25px;
}

.previewContainer{
	background-color: #e4dfd6;
	min-height: 443px;
	padding-top: 20px;
}

.previewTable{
	padding: 20px;
}

.previewTable thead tr:first-child{
	background-color: #b9b9ec;
}

.previewTable thead tr:last-child{
	background-color: #b49c9c;
}

.previewTable tbody tr{
	background-color: #fff;
}

.showCentrePreview{
	font-size: 22px;
	font-weight: bold;
	padding-top: 22px;
}

.previewTable td{
	padding : 5px;
}

.marginRightClass{
	margin-right: 15px !important;
}

.copyActivityMargin{
	margin-left: 10px !important;
	margin-right: 0px !important;
}
